<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="Costura.Fody" version="1.5.1" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="2.0.10" targetFramework="net452" developmentDependency="true" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net452" />
  <package id="NLog" version="4.4.9" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.9" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.9" targetFramework="net452" />
</packages>